.courseItemDetail{
    // background-color: aqua;
    padding:120px 0;
    &__popupPlayer{
        width:100%;
        height:100%;
       
        background-color: rgba(0,0,0,0.8);

        position: fixed;
        top:0;
        left:0;
        z-index: 10000;
        
        display:flex;
        justify-content:center;
        align-items:center;
        &__video{
            width: 880px;
            height: 420px;
        }
        &__icon{
            position: fixed;
            right:80px;
            top:100px;
            cursor: pointer;
            
            .MuiSvgIcon-root{
                color:#fff;
                transition: all .5s;
                &:hover{
                    color:rgb(226, 80, 80);
                }
            }
        }
    }
    &__item{
        width:80%;
        margin:0 auto;
        
        &__nameFilm{
            color:#2190E9;
            font-size:2rem;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        &__image{
            width:600px;
            height: 600px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            cursor: pointer;
            position: relative;
            background-color: #111;
            &:hover &__trailer{
                display:flex;
                justify-content:center;
                align-items:center;  
            }
            &__trailer{
                position: absolute;
                top:0;
                left:0;
                transition: all .5s;
                background-color: rgba(0,0,0,0.8);
                color:#fff;

                width:100%;
                height:100%;

               

                display: none;
               &__icon{
                   & > .MuiSvgIcon-root{
                       font-size:5rem;
                       color:rgb(235, 167, 41);

                   
                   }
               }
            }
            &__rate{
                background-color: orange;
                position: absolute;
                top:-10px;
                left:50%;
                transform: translate(-50%,-10px);
                border-radius: 30px;
                padding:20px;

                color:#fff;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
            img{
                width:100%;
                height:100%;
                object-fit: cover;

                
            }
        }
        &__description{
            color:#fff;
            line-height: 35px;
            letter-spacing: 2px;
           
        }
    }
}
.loading{
    width:100%;
    height:100%;

    position: fixed;
    top:0;
    left:0;
    z-index: 10000;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    color:#fff;
    h1{
       font-size:2rem;
       font-family: cursive;
      
    }
}
@media screen and (max-width:930px) {
    .courseItemDetail{
        &__popupPlayer{
            &__video{
                width:600px;
                height: 320px;
            }
        }
    }
}
@media screen and (max-width:640px) {
    .courseItemDetail{
        &__popupPlayer{
            &__video{
                width:450px;
                height: 320px;
            }
            &__icon{
                position: fixed;
                right:20px;
            }
        }
    }
}
@media screen and (max-width:720px) {
        .courseItemDetail{
            &__item{
                &__image{
                    width:450px;
                    height: 450px;
                }
                
            }
        }
}
@media screen and (max-width:540px) {
    .courseItemDetail{
        &__item{
            &__image{
                width:350px;
                height: 350px;
            }
            
        }
    }
}
@media screen and (max-width:470px) {
    .courseItemDetail{
        &__popupPlayer{
            &__video{
                width:350px;
                height: 220px;
            }
            &__icon{
                position: fixed;
                right:20px;
            }
        }
    }
}
@media screen and (max-width:410px) {
    .courseItemDetail{
        &__item{
            &__image{
                width:240px;
                height: 240px;
            }
        
        }
    }
}
@media screen and (max-width:380px) {
    .courseItemDetail{
        &__popupPlayer{
            &__video{
                width:260px;
                height: 220px;
            }
            &__icon{
                position: fixed;
                right:20px;
            }
        }
    }
}